@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Lexend:wght@100&display=swap");

.accommodations {
  background-color: #02273d;
  font-size: 4rem;
  color: #d7d7f3;
  width: 100%;
  padding: 3rem 8rem 4rem 8rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-align: center;
  position: relative;
}

.accommodations::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

.accommodations h1 {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e8eaea;
  z-index: 2;
  font-size: 3.5rem;
  width: fit-content;
  padding-bottom: 0.4rem;
  font-family: "Barlow", sans-serif;
}

.accommodations h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 4px;
  width: 0;
  background-color: #1d6e94;
  transition: width 0.45s ease, left 0.45s ease;
  border-radius: 5rem;
  animation: expandBorderBothWays 1s ease forwards;
}

.accommodations h1:hover::after {
  width: 100%;
  left: 0;
  animation: expandBorderOnHover 1s ease forwards;
}

.accomodation_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  line-height: 1.8;
  color: #d7d7f3;
}

.accomodation_info p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Barlow", sans-serif;
  line-height: 1.6;
}

.accomodation_info p.first {
  font-weight: 600;
  /* color: #2385b8; */
  color: #1d6e94;
}

.accomodation_info p.second {
  font-weight: 500;
  color: black;
}

/* Animations */
@keyframes expandBorderBothWays {
  from {
    width: 0;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
  }
}

@keyframes expandBorderOnHover {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

/* Responsive Design */
@media (max-width: 1200px) {
  .accommodations {
    font-size: 3.5rem;
    padding: 2rem 5rem;
  }

  .accommodations h1 {
    font-size: 3rem;
  }

  .accomodation_info {
    gap: 1.5rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .accommodations {
    font-size: 3rem;
    padding: 2rem 3rem;
  }

  .accommodations h1 {
    font-size: 2.8rem;
  }

  .accomodation_info {
    gap: 1.2rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .accommodations {
    font-size: 2.5rem;
    padding: 2rem 1rem;
  }

  .accommodations h1 {
    font-size: 2.3rem;
    width: 75%;
  }

  .accomodation_info {
    gap: 1rem;
    font-size: 1.2rem;
    padding: 1rem;
  }

  .accomodation_info p {
    text-align: center;
    font-size: 1rem;
  }
}
