@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100&display=swap");

.ConferenceOverview {
  background-color: #02273d;
  font-size: 4vw;
  color: #d7d7f3;
  width: 100%;
  padding: 5vw;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  position: relative;
}

.ConferenceOverview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.ConferenceOverview h1 {
  position: relative;
  color: #e8eaea;
  z-index: 2;
  font-size: 3vw;
  width: 35%;
  margin: 0 auto;
  padding-bottom: 0.4rem;
  font-family: "Barlow", sans-serif;
}

.ConferenceOverview h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 4px;
  width: 0;
  background-color: #2385b8;
  transition: width 0.45s ease, left 0.45s ease;
  border-radius: 5rem;
  animation: expandBorderBothWays 1s ease forwards;
}

@keyframes expandBorderBothWays {
  from {
    width: 0;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
  }
}

.ConferenceOverview h1:hover::after {
  /* border-bottom: 2px solid #2385b8; */
  width: 100%;
  left: 0;
  animation: expandBorderOnHover 1s ease forwards;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2vw;
}

.info p {
  font-size: 1.5vw;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  color: #787b7b;
  text-align: center;
}

.information h3 {
  font-size: 2vw;
  margin-bottom: 10px;
  font-family: "Barlow", sans-serif;
}
.information ul {
  align-content: center;
}
.information ul li {
  font-size: 1.5vw;
  font-family: "Barlow", sans-serif;
  margin-bottom: 4px;
  text-align: center;
}
.information1 h3 {
  color: #1d6e94;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.information1 ul {
  padding-left: 25px;
}
.information2 ul {
  padding-left: 25px;
}
.information3 ul {
  padding-left: 25px;
}
.information1 ul li {
  font-size: 1.2rem;
}
.information2 h3 {
  color: #1d6e94;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.information2 ul li {
  font-size: 1.2rem;
}
.information3 h3 {
  color: #1d6e94;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.information3 ul li {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .ConferenceOverview {
    font-size: 3vw;
    padding: 3vw;
  }
  .ConferenceOverview h1 {
    font-size: 2.5vw;
    width: 90%;
  }
  .info p {
    font-size: 1.2vw;
  }
  .information h3 {
    font-size: 1.8vw;
  }
  .information ul li {
    font-size: 1.3vw;
  }
}

@media (max-width: 480px) {
  .ConferenceOverview {
    font-size: 2.5rem;
    padding: 2rem 1rem;
  }
  .ConferenceOverview h1 {
    font-size: 2rem;
    width: 85%;
  }
  .info p {
    font-size: 1.3rem;
    text-align: center;
  }
  .information1 h3 {
    font-size: 1.2rem;
  }
  .information1 ul li {
    font-size: 1.1rem;
  }
  .information2 h3 {
    font-size: 1.2rem;
  }
  .information2 ul li {
    font-size: 1.1rem;
  }
  .information3 h3 {
    font-size: 1.2rem;
  }
  .information3 ul li {
    font-size: 1.1rem;
  }
}
