@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.fm {
  background-color: #0e0e5c;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  background-color: #0e0e5c;
  color: white;
  font-size: 15px;
  font-family: "Barlow", sans-serif;
}

span {
  font-weight: bold;
  font-family: "Barlow", sans-serif;
}

.contactspan {
  margin-left: 10.7rem;
  font-weight: 500;
}

.footerleft {
  width: 46%;
}

.footerleftptwo {
  margin-top: 0.7rem;
}

.footerright {
  width: 46%;
}
.footerright p a {
  color: #1155cc;
}
.mentions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mentions h2 {
  color: white;
  font-size: 15px;
  font-weight: 500;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-family: "Barlow", sans-serif;
}
.namesm {
  margin-top: 3px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Barlow", sans-serif;
}
.namesm a {
  /* font-style: italic; */
  color: white;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
}
.namesm span {
  font-size: 15px;
}

.namesm a:first-child span a img {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 30%;
}

.mentions div {
  margin-top: 5px;
}

.mentions div h3 {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-top: -4px;
}

.social-icon {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.social-icon img {
  width: 17px; /* Adjust size */
  height: 17px;
  border-radius: 50%; /* Make it round */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-icon:hover img {
  opacity: 0.8; /* Slight fade effect */
  transform: scale(1.2); /* Slight zoom effect */
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footerleft,
  .footerright {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .mentions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mentions h2 {
    color: white;
    font-size: 20px;
    font-weight: 200;
    font-family: "Barlow", sans-serif;
  }
  .namesm {
    margin-top: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .mentions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
    padding-top: 0.7rem;
  }
  .mentions h2 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
  }
  .mentions div {
    display: flex;
    /* gap: 1rem; */
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .mentions div h3 {
    font-size: 0.9rem;
  }
  .mentions div a.social-icon {
    width: 10px;
    margin: 0.2rem;
  }
}
